<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
<div class="row">
    <form class="navbar-form navbar-left" ng-submit="search()">
        <div style="    margin-left: 15px">
            <img ng-src="/assets/img/ajax_loader.gif"  ng-show="calling" style="width: 17%;float: right"/>
            <select ng-model="lang" class="form-control"   style="width: 60%">
                <option ng-repeat="lang in languages" value="{{lang}}" ng-bind="convertLang(lang)"></option>
            </select>


        </div>

        <div  style="margin-top: 5px;margin-left: 15px">
            <input type="text"  id = "keyword"  class="form-control" placeholder="Search" style="width: 60%;float: left"/>
            <input type="submit" class="btn btn-search" value="Search"/>
        </div>
    </form>



</div>

<div class="row" ng-show="showMessage"  style="margin-left: 15px;margin-top: 5px">
                            Search for keyword
    <b><span ng-bind="keyword"> </span> </b>found  <b><span ng-bind="total"> </span> </b>results
</div>



<div id="mobile-result" class="row" >
    <div >
        <table class="table table-condensed"  style="margin-left: 15px;margin-top: 5px">
            <tr>
                <th style="width: 60% !important;">Keywords&nbsp<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Keywords are pulled from the Autocomplete of Google." data-placement="right" ></span></th>
                <th style="width: 40% !important;">Frequency&nbsp<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Frequency are pulled from the Keyword planner of Google. Estimated monthly search volume" data-placement="left"></span></th>
            </tr>
            <tr ng-repeat="item in items" ng-class="getClass(item)">
                <td  ><span ng-bind="part_not_bold(keyword,item.text)"> </span><b><span ng-bind="part_bold(keyword,item.text)"> </span></b></td>
                <td ><span class="popularity"  ng-bind="toLocaleString(item.popularity)"> </span></td>
            </tr>
        </table>
    </div>
</div>



